<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ title }}</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>
<body>
    <div>
        <a href="index.html">Hello World</a> |
        <a href="password-gen.html"> Password Generator</a> |
        <a href="your-ip.html">Your IP</a> |
        <a href="show-req.html">Show Requirements</a> |
        <a href="show-location.html">Your Location</a> |
        <a href="weather-api.html">Weather</a> |
        <a href="reg-user.html">Registration</a> |
        <a href="show-customers.html">Show Customers</a> |
        <a href="filter-by-name.html">Filter Customers By Name</a> |
    </div>
    <hr>
    {% block content %}{% endblock %}
   </body>
</html>