<!-- extend base layout -->
{% extends "base.html" %}

{% block content %}
    <h1>Filter City, Company and State</h1>
    <form action ="" method="POST">
        <p>Enter the search parameters<br>
            abc% - start of word<br>
            %abc - end of word<br>
            %abc% - inside word<br>
            abc - full match of a word<br><br>
            <input type="text" name="City" pattern="(\%)?+(^[a-zA-Z]+$)+(\%)?" placeholder="abc">City</input><br>
            <input type="text" name="Company" pattern="(\%)?+(^[a-zA-Z]+$)+(\%)?" placeholder="abc">Company </input><br>
            <input type="text" name="State" pattern="(\%)?+(^[a-zA-Z]+$)+(\%)?" placeholder="abc">State</input><br></p>
        <p><input type="submit" value="Submit"></input></p>
    </form>
    {% if customers %}
        {% for i in customers %}
            <h5> {{ i }}</h5>
        {% endfor %}
    {% endif %}
{% endblock %}